<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Languages" type="System.Configuration.NameValueSectionHandler" />
    <section name="Spanish"   type="System.Configuration.NameValueSectionHandler" />
    <section name="German"    type="System.Configuration.NameValueSectionHandler" />
    <section name="Russian"   type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="lastFilename" value="" />
    <add key="checkAfterLoops" value="1000" />
    <add key="maxLoops" value="100000" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <Languages>
    <add key="languages" value="Spanish,German,Russian" />
  </Languages>
  <Spanish>
    <add key="if"    value ="si" />
    <add key="else"  value ="sino" />
    <add key="elif"  value ="sinosi" />
    <add key="while" value ="mientras" />
    <add key="set"   value ="asignar" />
    <add key="kill"  value ="matar" />
    <add key="print" value ="imprimir" />
  </Spanish>
  <German>
    <add key="if"    value ="wenn" />
    <add key="else"  value ="sonst" />
    <add key="elif"  value ="sonst_wenn" />
    <add key="while" value ="solange" />
    <add key="set"   value ="setzen" />
    <add key="kill"  value ="toeten" />
    <add key="print" value ="drucken" />
  </German>
  <Russian>
    <add key="if"       value ="если" />
    <add key="else"     value ="иначе" />
    <add key="elif"     value ="иначе_если" />
    <add key="while"    value ="пока" />
    <add key="set"      value ="уст" />
    <add key="kill"     value ="убить" />
    <add key="print"    value ="печать" />
    <add key="break"    value ="закончить" />
    <add key="continue" value ="продолжить" />
  </Russian>
</configuration>
